body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
}

#root {
	height: 100%;
}

/* use for \n popup */
div {
	white-space: pre-wrap;
}

.map {
	height: 100%;
	min-height: 600px;
	z-index: 0;
	/* width: 100%; */
	margin-top: -3rem;
}

.main-container {
	position: relative;
}

.my-form {
	background-color: #fff;
	position: absolute;
	top: 60px;
	right: 10px;
	text-align: center;
	padding: 10px;
}

.map-small {
	height: 100%;
	min-height: 800px;
	z-index: 0;
	/* width: auto; */
	/* width: 100%; */
	margin-top: -3rem;
}

div.app-navbar {
	margin-bottom: 0;
	z-index: 999;
}

.hidden {
	display: none;
}

.location-lists {
	display: inline-flex;
}

.remove-btn {
	margin-right: 0.5rem;
}

.list-group {
	max-height: 600px;
	margin-bottom: 10px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#emslie-logo {
	color: white;
}

.form-group .input-error {
	background-color: #f10e0e1a;
	border: 3px solid #d86969;
}
